<?xml version="1.0" encoding="utf-8" ?>
	<configuration>
		<connectionStrings>
			<add name="RailwayReservationsDB"
				 connectionString="Server=ICS-LT-3JGR8C3\SQLEXPRESS;Database=RailwayReservationsDB;User Id=sa;Password=Sonu@789;"
				 providerName="System.Data.SqlClient" />
		</connectionStrings>
	</configuration>
